label[required]::after {
  color: red;
  content: " *";
}

#date_format {
  font-size: 10px;
  margin: 1px 0 1px 0;
}

#date_format span {
  margin-left: 29px;
}

#file_format {
  font-size: 12px;
  margin: 1px 0 1px 0;
}

#name_format {
  font-size: 12px;
  margin: 1px 0 1px 0;
}

#name_format span {
  margin-left: 50px;
}

#phone_format {
  font-size: 12px;
  margin: 1px 0 1px 0;
}

#phone_format span {
  margin-left: 8px;
}

#more_info {
  font-size: 14px;
  color: rgb(12, 102, 168);
}
