<<<<<<< Updated upstream
=======
table {
  border: 1px solid black;
  margin-left: 30px;
}

th {
  width: 150px;
}

td {
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: white;
}

#video-embed {
  margin-left: 30px;
  margin-top: 15px;
}

#video-embed iframe {
  border: none;
}
>>>>>>> Stashed changes
